*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 20px;
}
.site-container{
    max-width: 1280px;
    min-height: 500px;
    margin: 0px auto;
    
}
.hero{
    max-width: 1280px;
    height: 500px;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

h1{
    padding-top:20px;
    color: rgb(42, 112, 42);
    text-align: center;
    font-size: 50px;
}

#app{
    max-width: 1280px;
    min-height: 300px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(214, 214, 214);
    padding: 5px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.game-holder{
    width: 400px;
    margin-bottom: 30px;
    border-bottom: solid 3px #00ff15 ;
    text-align: center;
    border-radius:10px ;
    cursor: pointer;
}

h4{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.brief-rating{
    width: 270px;
    margin: 0 auto;
    
    font-size: 16px;

}
.rating{
    font-size: 10px;
    text-align: left;
    margin-left: -55px;
    color: rgb(42, 112, 42);
    font-weight: 500;
}
.brief-desc{
    margin-bottom: 10px;
}
.wrapper{
    max-width: 1280px;
    min-width: 300px;
    min-height:400px ;
    /* background-color: #00ff15; */
    display: flex;
    align-items: center;
    justify-content: center;
    
 
}
.fullImage{
    width: 50%;
    /* background-color: burlywood; */
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.detailInfo{
  width: 50%;
  /* background-color: cadetblue; */
  min-height: 400px;
}
.detailTitle{
    text-align: center;
    font-size:60px;
    margin-bottom: 20px;
}
.detailDesc{
    margin: 10px 5px;
}
.gameDetails{
    width: 100%;
    height: 150px;
    /* background-color: lightsteelblue; */
    display: flex;
    align-items:self-end;
    /* justify-content:space-around; */
}
.detail{
    width: 70px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(42, 112, 42);
    border-radius: 10px;
    margin: 0px 15px 0px 10px;
}
.close{
    width: 40%;
    height: 40px;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #00ff15;
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
    border-radius: 10px;
}